


.roum2{
    width: var(--width);
    display: var(--display);
    flex-direction: var(--flexd);
    align-items: var(--aligni);
    
}
.roum2 h1{
    margin: 60px 0;
}
.tbsit{
    display: var(--display);
    flex-direction: var(--flexd);
    align-items: var(--aligni);
    justify-content: flex-start;
}
.tbsit1{
    width: 72px;
    height: 72px;
}
.tbsit10{
    padding: 0;
    margin: 12px 0;
    font-family: var(--font-family);
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
    text-align: var(--texta);
    color: #FF9235;
}
.tbsit11{
    list-style: none;
    font-family: var(--font-family);
    font-size: 30px;
    font-weight: 400;
    line-height: 45px;
    text-align: var(--texta);
    margin: 0;
    padding: 0 0 32px 0;
    width: 100%;
}
.tbsit2{
    padding: 0;
    margin: 25px 0;
    font-family: var(--font-family);
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    text-align: var(--texta);
    width: 100%;
}
.tbsit3{
    font-family: var(--font-family);
    font-size: 30px;
    font-weight: 400;
    line-height: 45px;
    text-align: var(--texta);
    margin: 0;
    padding: 0 0 12px 0;
}
.alien{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 70px;
    border: var(--border);
    border-radius:12px ;
}
.alien0:first-child{
    border-left: none;
}
.alien0{
    border-left: var(--border);
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 70px;
}


@media screen and (max-width:1450px) {
    .alien{
        width: 90%;
    }
}
@media screen and (max-width:1250px) {
    .alien{
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
    }
    .alien0{
        border-left: none;
        border-top: var(--border);;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}