
nav{
    width: var(--width);
    margin: 0;
    padding: 0;
    display: var(--display);
    justify-content: flex-end;
    box-shadow: 0px 3px 10px 0px #0000002a;
    top: 0;
}
.bunt2{
    font-family:var(--fontf);
    font-weight: 700;
    line-height: 36px;
    font-size: 25px;
    text-decoration: var(--textd);
    color: #141c3a;
}
.bunt2:hover{
    opacity: 0.5;
}
.bunt0{
    position: fixed;
    background-color: white;
    z-index: 10;
}
.bunt{
    list-style: none;
    width: 50%;
    margin: 45px 0 45px 25%;
    padding: 0;
    display: var(--display);
    justify-content: space-around;
    align-items: var(--aligni);
}

.bunt19{
    white-space: nowrap;
    font-weight: 600;
    line-height: 27px;
    width: 25%;
    display: var(--display);
    justify-content: center;
    align-items:var(--aligni);
}
.ibunt{
    font:600 25px/27px "TildaSans", sans-serif;
    padding: 9px 22px;
    color: #FF9235;
    border-radius: 15px;
    border: 2px solid #FF9235;
    text-decoration: var(--textd);
    background-color: #fff;
    transition: 1s 200ms;
}
.ibunt:hover{
    background-color: #FF9235;
    color: #ffffff;
}
.vbn summary {
    width: 49px;
    height: 49px;
    background-image: url(assets/icons/Menu.svg);
    cursor: pointer;
}

.vbn details[open] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0;
}
.vbn ul {
    margin: 0 !important;
    padding-top: 38.5px;
    width: 100% !important;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 25px;
}
.vbn details[open] summary {
    background-image: url(assets/icons/Menu-active.svg);
}
.vbn{
    display: none;
    justify-content: space-between;
    padding: 38.5px 60px;
    align-items: flex-start;
    box-sizing: border-box;
    height: unset;
    transition: all 0.3s ease-in;
}
details> summary{
    list-style: none;
}
@media screen and (max-width: 1150px) {
    nav ul {
        width: 60% !important;
        margin: 45px 0 45px 5% !important;
    }
    .bunt19 {
        width: 30%;
        margin-right: 5%;
    }
}
@media screen and (max-width: 950px) {
    nav {
        display: none;
    }
    nav.vbn {
        display: flex;
    }
}