


#i6 h1{
    margin: 64px 0;
}
.try1 {
    font-family: var(--fontf);
    font-size: 36px;
    font-weight: var(--fontw);
    line-height: 54px;
    text-align: var(--texta);
    width: 70%;
    margin: 0;
    margin-top: 48px;
    padding: 0
}

.note {
    margin: 0;
    padding: 0;
    display: var(--display);
    flex-direction: var(--flexd);
    align-items: var(--aligni);
}

.note1 {
    width: 20vw;
    height: 15vw;
    margin: 51px 0;
    margin-bottom: 71px;
    padding: 0;
    border: 3px solid #5dd9c8;
    border-radius: 10px;
    overflow: hidden;
}

.note1 img {
    height: 100%;
    width: var(--width);
    object-fit: cover;
}

.note12 {
    margin: 20px 0;
    padding: 0;
    font-family: var(--fontf);
    font-size: 36px;
    font-weight: var(--fontw);
    line-height: 54px;
    text-align: var(--texta);
}

.note123 {
    margin: 0;
    padding: 0;
    font-family: var(--fontf);
    font-size: 20px;
    font-weight: var(--fontw);
    line-height: 30px;
    text-align: var(--texta)
}

p#qwe {
    width: 50%;
    margin-top: 0;
}

.r5 {
    margin-bottom: 64px !important;
}

.n {
    margin: o;
    padding: 0;
}

.rev {
    margin: 41px 0 45px 0;
    width: 138px;
    display: var(--display);
    flex-direction: row;
    justify-content: space-between;
}

.rev1 {
    padding: 0 6px;
    height: 40px;
    border: 2px solid #ff9235;
    border-radius: 20px;
    background: #ffffff;
    transition: 1s 200ms;
}

.rev1:hover {
    background: #ff9235;
}

.rev1:hover .rev12 {
    display: none;
}

.rev1:hover .rev123 {
    display: block;
}

.rev123 {
    display: none;
}

@media screen and (max-width:1100px) {
    .note1 {
        width: 40vw;
        height: 30vw;
    }
}