@font-face{
    font-family: "TildaSans";
    font-weight: 700;
    font-style: normal;
    src: url(TildaSans-Black.ttf) format("ttf"),
        url(TildaSans-Bold.ttf) format("ttf");
}
@font-face{
    font-family: "TildaSans";
    font-weight: 400;
    font-style: normal;
    src: url(TildaSans-ExtraBold.ttf) format("ttf"),
        url(TildaSans-Semibold.ttf) format("ttf");
}
.start{
    color: #141c3a;
    font-family:"TildaSans",sans-serif;
    line-height: 1.7;
}
.toper{
    line-height: 1.4;
    width: 1200px;
    padding: 0 50px;
    margin: 0 auto;
    box-sizing: border-box;
    font-size: 25px;
}
.bunt2{
    text-decoration: none;
    color: #141c3a;
}
.bunt2:hover{
    opacity: 0.5;
}
.bunt{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}
.bunt1{
    padding: 0 5px;
    margin-right: 50px;
}
.ibunt{
    font-size: 25px;
    height: 35px;
    padding: 0 10px;
    display: block;
    color: #FF9235;
    border-radius: 15px;
    border: 2px solid #FF9235;
    text-decoration: none;
    background-color: #fff;
}
h1{
    font-size: 54px;
}
h2{
    font-size: 36px;
}
.roum{
    text-align: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 809px;
}
.roum p{
    font-size: 30px;
}
.roum1{
    padding: 50px;
    padding-bottom: 100px;
    width: 100%;
    text-align: center;
    background-color: #5DD9C8;
}
.roum12{
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}
.roum2{
    line-height: 1.4;
    padding: 50px;
    padding-bottom: 100px;
    width: 100%;
    text-align: center;
}
.tbline{
    overflow: hidden;
    color: #FF9235;
}
.tbline p{
    margin: 0;
}
.tbsot{
    vertical-align: top;
    font-size: 30px;
    padding: 50px;
    padding-top: 0px;
    width: calc(100%/3);
    border-left: 1px solid #5DD9C8;
    border-right: 1px solid #5DD9C8;
    border-top: none;
    border-bottom: none;
}.tbsit{
    vertical-align: top;
    font-size: 30px;
    padding: 50px;
    padding-bottom: 0px;
    width: calc(100%/3);
    border-left: 1px solid #5DD9C8;
    border-right: 1px solid #5DD9C8;
    border-top: none;
    border-bottom: none;
}
.dies{
    border: 3px solid #5DD9C8;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;
    width: 300px;
    height: 500px;
}
.dies img{
    border-radius: 12px;
    width: 100%;
    height: 100%;
}
.alien{
    display: flex;
    flex-wrap: wrap;
    border-collapse: collapse;
    border: 1px solid #5DD9C8;
    margin-left: auto;
    margin-right: auto;
    width: 1300px;
}

