:root{
    --fonts:36px;
    --fontw:400;
    --lineh:54px;
    --texta:center;
    --fontf:"TildaSans", sans-serif;
    --aligni: center;
    --display:flex;
    --width:100% ;
    --flexd:column ;
    --justcont:center;
    --textd:none;
    --border:1px solid #5dd9c8;
    --flexd1: row;
    --color:#ffffff;
}
@font-face{
    font-family: TildaSans;
    font-style: normal;
    font-weight: 100;
    src: url(assets/fonts/TildaSans-Black.ttf) format("ttf");
}
@font-face{
    font-family: TildaSans;
    font-style: normal;
    font-weight: 200;
    src: url(assets/fonts/TildaSans-Black.ttf) format("ttf");
}
@font-face{
    font-family: TildaSans;
    font-style: normal;
    font-weight: 300;
    src: url(assets/fonts/TildaSans-Black.ttf) format("ttf");
}
@font-face{
    font-family: TildaSans;
    font-style: normal;
    font-weight: 400;
    src: url(assets/fonts/TildaSans-Black.ttf) format("ttf");
}
@font-face{
    font-family: TildaSans;
    font-style: normal;
    font-weight: 500;
    src: url(assets/fonts/TildaSans-Black.ttf) format("ttf");
}
@font-face{
    font-family: TildaSans;
    font-style: normal;
    font-weight: 600;
    src: url(assets/fonts/TildaSans-Black.ttf) format("ttf");
}
@font-face{
    font-family: TildaSans;
    font-style: normal;
    font-weight: 700;
    src: url(assets/fonts/TildaSans-Black.ttf) format("ttf");
}
@font-face{
    font-family: TildaSans;
    font-style: normal;
    font-weight: 800;
    src: url(assets/fonts/TildaSans-Black.ttf) format("ttf");
}
html {
    scroll-behavior: smooth;
}
body {
    margin-top: 126px;
}

button, input, textarea{
    outline: none;
    appearance: none;
}
button{
    cursor: pointer;
}
.start{
    margin: 0;
    padding: 0;
    color: #141c3a;
    font-family:"TildaSans",sans-serif;
    line-height: 1.7;
}
a{
    text-decoration: none;
    color: inherit;
}
h1{
    margin: 0;
    padding: 0;
    font-size: 54px;
    font-family: "TildaSans", sans-serif;
    font-weight: 700;
    line-height: 81px;
    text-transform: uppercase;
    text-align: center;
    max-width: 90vw;
}
h2{
    font-size: 36px;
}
.roum1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
